*{
 box-sizing: border-box;
}

.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
 background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
 background-repeat: no-repeat ;
 font-size: 12px;
}
p{
 font-family: 'Kumbh Sans', sans-serif;
 font-weight: 400;
}

h1{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  padding-left: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 700;
}

hr{
  border: 0.5px solid hsl(240, 5%, 91%);
  width: 100%;
}
@media screen and (min-width: 1150px) {

#main_faq {
 background-color: white ;
 background-image: url("images/bg-pattern-desktop.svg");
 background-repeat: no-repeat;
 background-size: 47%;
 display: flex;
 flex-direction: row;
 align-items: stretch;
 margin: 50px 190px;
 border-radius: 20px;
 position: relative;
}

#left-part{
 display: flex;
}

.illustration-box{
 display: block;
 position: absolute;
 bottom: 22%;
 right: 89%;
 background-color: none;
 position: absolute;
 z-index: 2;
}

.illustration-woman {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
  bottom: -30px; left: -30px;
  width: 95%;
  height: 85%;
}

#right-part{
display: flex;
flex-direction: column;
justify-content: center;
width: 50%;
height: 20%;
margin: 20px 20px;

}

.accordion {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border:none;
  outline: none;
  transition: 0.3s;
  font-family: 'Kumbh Sans', sans-serif;
}

.active, .accordion:hover {
  color:hsl(14, 88%, 65%)
}

.accordion:after {
  content: url("images/icon-arrow-down.svg");
  float: right;
}

.active:after {
  content: url("images/icon-arrow-down.svg");
  transform: rotate(180deg);
  -webkit-transform:rotate(180deg) ;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
}
@media screen and (max-width: 425px) {
  p{
   font-family: 'Kumbh Sans', sans-serif;
   font-weight: 400;
  }

  h1{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding-left: 20px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 700;
  }
  hr{
    border: 0.5px solid hsl(240, 5%, 91%);
    width: 90%;
  }

  #main_faq{
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-height: 70%;
    background-color: white ;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 47%;
    border-radius: 20px;
    margin: 40px 20px;
    padding: 40px 10px;
  }
  .accordion {
    background-color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border:none;
    outline: none;
    transition: 0.3s;
    font-family: 'Kumbh Sans', sans-serif;
  }
  .active, .accordion:hover {
    color:hsl(14, 88%, 65%)
  }

  .accordion:after {
    content: url("images/icon-arrow-down.svg");
    float: right;
  }

  .active:after {
    content: url("images/icon-arrow-down.svg");
    transform: rotate(180deg);
    -webkit-transform:rotate(180deg) ;
  }
  .illustration-woman {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    width: 95%;
    height: 85%;
    top: -70px;
    right: -10px;
  }
  .illustration-box{
   display: block;
   left: 20px;
   position: absolute;
   z-index: 2;
  }

}