*{
 box-sizing: border-box;
}

.attribution { font-size: 12px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
 background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
 background-repeat: no-repeat ;
 font-size: 12px;
}
p{
 font-family: 'Kumbh Sans', sans-serif;
 font-weight: 400;

}

#main_faq {
 background-color: white ;
 background-image: url("images/bg-pattern-desktop.svg");
 background-repeat: no-repeat;
 background-size: 35%;
 display: flex;
 align-items: stretch;
 margin: 50px 90px;
 border-radius: 20px;
 position: relative;
}

#left-part{
 display: flex;
}

.illustration-box{
 position: absolute;
 bottom: 20%; right: 90%;
 background-color: none;
 position:absolute;
 z-index: 2;
}

.illustration-woman {
 display: flex;
 flex-direction: row;
 flex-wrap: nowrap;
 position: relative;
 bottom: 30px; left: -40px;
}

#right-part{
display: flex;
flex-direction: column;
justify-content: center;
width: 60%;
height: 20%;
margin: 0px 180px;
}

.accordion {
  background-color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border:none;
  outline: none;
  transition: 0.3s;
  font-family: 'Kumbh Sans', sans-serif;
}

.active, .accordion:hover {
  color:hsl(14, 88%, 65%)
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}